#views-exposed-form-components-for-shopping-list-block {
    display: none;
}
#views-exposed-form-recipes-components-block-2 {
    display: none;
}

.sh_descr {
  color: #C9624E;
  font-size: 95%;
  line-height: 1;
}